[submodule ".emacs.d/vendor/git-emacs"]
	path = .emacs.d/vendor/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/vendor/clojure-mode"]
	path = .emacs.d/vendor/clojure-mode
	url = http://github.com/jochu/clojure-mode.git
[submodule ".emacs.d/vendor/markdown-mode"]
	path = .emacs.d/vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/vendor/processing-emacs"]
	path = .emacs.d/vendor/processing-emacs
	url = git://github.com/omouse/processing-emacs.git
[submodule ".emacs.d/vendor/nxhtml"]
	path = .emacs.d/vendor/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule ".emacs.d/vendor/tuareg"]
	path = .emacs.d/vendor/tuareg
	url = git://github.com/emacsmirror/tuareg.git
[submodule ".emacs.d/vendor/color-theme-radiance"]
	path = .emacs.d/vendor/color-theme-radiance
	url = git://github.com/miloshadzic/color-theme-radiance.git
