[user]
    name = Leif Walsh
    email = leif.walsh@gmail.com
    editor = emacsclient -c
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
    pager = true
[merge]
    tool = gvimdiff
[core]
    whitespace = trailing-space,space-before-tab,cr-at-eol
    excludesfile = ~/.gitignore-default
    editor = emacsclient
[github]
    user = adlaiff6
    token = c821dd114baed39aab1bb20161cd8c8d
[push]
    default = matching
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    empty-branch = !sh -c 'git symbolic-ref HEAD refs/heads/$1 && rm .git/index && git clean -fdx' -
