.CFUserTextEncoding
.Trash
.Xauthority
.adobe
.bash*
.bazaar
.bogofilter/
.bzr.log
.cache/
.ccache
.compiz/
.compiz-1/
.config/autostart/
.config/banshee-1/
.config/compiz-1/
.config/dconf/
.config/Empathy/
.config/enchant/
.config/evolution/
.config/gedit/
.config/google-chrome/
.config/gtk-2.0/
.config/gwibber/
.config/menus/
.config/nautilus/
.config/software-center/
.config/tangerine/
.config/transmission/
.config/Trolltech.conf
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.cpan
.config/gtk-2.0
.cvspass
.dir_colors
.dircolors
.dbus/
.dmrc
.dolphin-emu/
.dropbox
.dropbox-dist/
.emacs-backups
.emacs.bmk
.esd_auth
.eshell
.fontconfig
.gconf/
.gconfd/
.gem
.ghc/
.gitk
.gksu.lock
.gnome2/
.gnupg
.gpg-agent-info
.gstreamer-0.10/
.gtk-bookmarks
.*_history
.htoprc
.ICEauthority
.ido.last
.keychain
.lesshst
.local
.macromedia/
.minecraft/
.mission-control/
.mozilla/
.nvidia-settings-rc
.passwd.gpg
.pki/
.pulse/
.pulse-cookie
.rnd
.semanticdb
.serverauth.*
.shotwell/
.Skype/
.srecode
.ssh/config.bak
.subversion
.sudo_as_admin_successful
.tangerine
.tangerine-log*
.texmf-var/
.thumbnails/
.thunderbird/
.Trash
.viminfo
.vim/view/
.Xauthority
.Xmodmap
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh/
.*_history
Desktop
Documents
Downloads
Dropbox
Games/
ISOs
Library
Movies
Music
Pictures
Public
Sites
Ubuntu\ One
Videos
VirtualBox VMs
backgrounds
bzr
git
hg
local
minecraft_server/
src
svn
examples.desktop
