.CFUserTextEncoding
.Trash
.Xauthority
.adobe
.bash*
.bazaar
.bogofilter/
.bzr.log
.cache/
.ccache
.compiz/
.config/autostart/
.config/banshee-1/
.config/compiz-1/
.config/dconf/
.config/Empathy/
.config/enchant/
.config/evolution/
.config/google-chrome/
.config/gtk-2.0/
.config/gwibber/
.config/menus/
.config/software-center/
.config/Trolltech.conf
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.cpan
.config/gtk-2.0
.cvspass
.dir_colors
.dbus/
.dmrc
.dropbox
.dropbox-dist/
.emacs-backups
.emacs.bmk
.esd_auth
.eshell
.fontconfig
.gconf/
.gconfd/
.gem
.ghc/
.gitk
.gnome2/
.gnupg
.gpg-agent-info
.gstreamer-0.10/
.gtk-bookmarks
.*_history
.htoprc
.ICEauthority
.ido.last
.keychain
.lesshst
.local
.macromedia/
.mission-control/
.mozilla/
.passwd.gpg
.pki/
.pulse/
.pulse-cookie
.rnd
.semanticdb
.serverauth.*
.shotwell/
.Skype/
.srecode
.ssh/config.bak
.subversion
.sudo_as_admin_successful
.texmf-var/
.thumbnails/
.Trash
.viminfo
.Xauthority
.Xmodmap
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh/
.*_history
Desktop
Documents
Downloads
Dropbox
ISOs
Library
Movies
Music
Pictures
Public
Sites
Ubuntu\ One
Videos
VirtualBox VMs
backgrounds
bzr
git
hg
local
src
svn
