.CFUserTextEncoding
.Private
.Trash
.VirtualBox/
.Xauthority
.adobe
.apport-ignore.xml
.bash*
.bazaar
.bogofilter/
.bzr.log
.cache/
.ccache
.codeblocks/
.codereview_upload_cookies
.compiz/
.compiz-1/
.config/autostart/
.config/banshee-1/
.config/caffeine/
.config/chromium
.config/chromium-backup
.config/compiz-1/
.config/dconf/
.config/Empathy/
.config/enchant/
.config/eog/
.config/evolution/
.config/gedit/
.config/google-chrome/
.config/gtk-2.0
.config/gtk-2.0/
.config/gtk-3.0/
.config/gvbam/
.config/gwibber/
.config/htop/
.config/LightTable/
.config/leafpad/
.config/libaccounts-glib/
.config/libimobiledevice/
.config/libreoffice/
.config/menus/
.config/monitors.xml
.config/mupen64plus/
.config/MusicBrainz/
.config/nautilus/
.config/nottoomuch/
.config/orage/
.config/pavucontrol.ini
.config/pcsx2/
.config/pulse/
.config/ristretto/
.config/rox.sourceforge.net/
.config/software-center/
.config/tangerine/
.config/Thunar/
.config/totem/
.config/transmission/
.config/Trolltech.conf
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/whatpulse/
.config/xfce4/
.cpan
.cups/
.cvspass
.debug/
.dir_colors
.dircolors
.dbus/
.dmenu_cache
.dmrc
.dolphin-emu/
.dropbox
.dropbox-dist/
.ecryptfs
.elinks/
.emacs-backups
.emacs.bmk
.emacs.d/abbrev_defs
.esd_auth
.eshell
.fehbg
.fontconfig
.fonts/
.gconf/
.gconfd/
.gem
.ghc/
.gimp-2.6/
.gimp-2.8/
.gitk
.gksu.lock
.gnome2/
.gnupg
.gnuplot-wxt
.goutputstream-*
.gpg-agent-info
.gstreamer-0.10/
.gtk-bookmarks
.gvba/
.gvoice
.history
.*_history
.htoprc
.huludesktop
.ICEauthority
.icons/
.ido.last
.keychain
.last_codereview_email_address
.lastpass/
.launchpadlib/
.lesshst
.lldb-history
.lighttable/
.linuxmint/
.local
.login
.login_conf
.m2/
.macromedia/
.mail_aliases
.mailrc
.minecraft/
.mission-control/
.mozilla/
.mpd.conf
.mpd/
.mplayer/
.mu/
.netrc
.netflix-desktop/
.nv/
.nvidia-settings-rc
.offlineimap/
.passwd.gpg
.pcsx/
.pentadactyl/
.pki/
.processing/
.pulse/
.pulse-cookie
.racket/
.rhosts
.rnd
.semanticdb
.serverauth.*
.shotwell/
.shrc
.signon/
.Skype/
.skyped/
.smb/
.srecode
.ssh/config.bak
.subversion
.sudo_as_admin_successful
.system_profile
.tangerine
.tangerine-log*
.texmf-var/
.thumbnails/
.thunderbird/
.Trash
.viminfo
.vim/view/
.w3m/
.wine/
.Xauthority
.Xclients
.Xmodmap
.xbmc/
.xscreensaver
.xsession
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh/
.zsnes/
Desktop/
Diablo III/
Documents/
Downloads/
Dropbox/
Games/
ISOs/
Library/
LightTable/
Mail/
Maildir/
Movies/
Music/
Pictures/
Public/
Sites/
Ubuntu\ One/
Videos/
VirtualBox VMs/
backgrounds
bzr
git
gitsvn
hg
local
minecraft_server/
src
svn
examples.desktop
