[submodule ".emacs.d/vendor/git-emacs"]
	path = .emacs.d/vendor/git-emacs
	url = http://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/vendor/clojure-mode"]
	path = .emacs.d/vendor/clojure-mode
	url = http://github.com/jochu/clojure-mode.git
[submodule ".emacs.d/vendor/markdown-mode"]
	path = .emacs.d/vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
