xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*foreground:        black
xpdf*background:        white

!Xft.dpi: 96
!Xft.antialias: 1
!Xft.hinting: 1
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
!Xft.rgba: rgb

URxvt.termName: xterm-256color

URxvt.iconFile: /usr/share/icons/hicolor/scalable/apps/Terminal.png

URxvt.font: xft:Deja Vu Sans Mono-13
URxvt.boldFont: xft:Deja Vu Sans Mono-13:bold
URxvt.italicFont: xft:Deja Vu Sans Mono-13:italic
URxvt.boldItalicFont: xft:Deja Vu Sans Mono-13:bold:italic
!URxvt.letterSpace: -1

URxvt.scrollBar: false
URxvt.saveLines: 8192
URxvt.secondaryScroll: true

URxvt.perl-ext: default,matcher
URxvt.urlLauncher: xdg-open
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

URxvt.depth: 32

#include "/home/leif/git/adlaiff6-solarized/xresources-colors-solarized/Xresources-dark"
URxvt.fading: 20

Fig.latexfonts: true
Fig.specialtext: true

Xcursor.theme: Vanilla-DMZ-AA
